{{>layout/header}}
<div class="row mb-3">
    <div class="col-sm-8">
        <input type="text" class="form-control" id="searchKeyword" placeholder="검색어를 입력하세요">
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block" id="btnSearch">검색</button>
    </div>
</div>
{{>layout/footer}}
